<form class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-fn">Name</label>
      <input class="form-control" type="text" value="" placeholder="Name" required>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-ln">Phone Number</label>
      <input class="form-control" type="text" maxlength="10" value="" required placeholder="9099036295">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-email">Pincode</label>
      <input class="form-control" type="text" maxlength="6" value="" placeholder="380015">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-phone">Locality</label>
      <input class="form-control" type="text" value="" required placeholder="Locality">
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="account-pass">Address</label>
      <textarea rows="12" cols="2"></textarea>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-confirm-pass">City</label>
      <input class="form-control" type="text" placeholder="Ahmedabad">
    </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <label for="account-confirm-pass">Alternate Phone</label>
          <input class="form-control" type="text" placeholder="(optional)">
        </div>
    </div>
  <div class="col-12">
    <hr class="mt-2 mb-3">
    <div style="margin-left:800px;">
        <button mat-raised-button color="primary">Update Address</button>
    </div>
  </div>
</form>
