<!-- Header section -->
<header class="header-sec">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-2 text-center text-lg-left">
          <!-- logo -->
          <a href="./index.html" class="site-logo">
          </a>
        </div>
        <div class="col-md-6">
          <form class="header-search-form size">
            <section class="filter-wrapper">
              <div class="keyword-wrapper">
                <input type="text" id="keyword" (keyup)="searchfilter($event.target.value)"
                  placeholder="Search for artists..." autofocus />
              </div>
              <ul class="filter-select" *ngIf="!flag1">
                <li (click)="itemsearch(result)" *ngFor="let result of Prod_list" class="filter-select-list">
                  
                  <img src="http://localhost:3000/images/Product_img/{{result.Product_image}}" alt="" width="50" height="50">
                  <p class="artist-name">
                    {{result.Product_name}}</p>
                  <span class="tags" *ngFor="let gen of  result?.gen | slice:0:6">{{gen.Product_name}}</span>
              </ul>
            </section>
            <button><i class="flaticon-search"></i></button>
          </form>
        </div>
        <div class="col-md-4">
          <div class="user-panel">
            <div class="up-item">
                
              <div *ngIf="!flag">
                <li><i class="flaticon-profile"></i><a href="onsignup()">Sign</a> In</li>
              </div>
              <div *ngIf="flag">
                <!-- <li><a (click)="myaccount()">Hello</a> &nbsp;{{name}}</li> -->
                <!-- start -->
                <nav class="main-navbar1">
                  <div class="container">
                      <li *ngIf="flag"><i class="flaticon-profile"></i><a href="myprofile()">Hello {{name}}</a>
                      </li>
                  </div>
                </nav>
                <!-- end -->
              </div>
            </div>
            <div class="up-item">
              <a href="category()" style="color:purple"> Shop</a>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="up-item">
              <!-- <div class="shopping-card"> -->
                <i class="flaticon-bag" style="color:purple"></i>
                <span style="color:purple">{{total}}</span>
              <!-- </div> -->
              <a href="cart()" style="color:purple"> Shopping Cart</a>
            </div>
            <!-- <a *ngIf="flag" (click)="logout()">logout</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script type="text/javascript">

  $(document).on('scroll', function () {
    if($(this).scrollTop()>1)
    {
      $('header').addClass('sticky');
    }
    else
    {
      $('header').removeClass('sticky');
    }
  })
  
</script>

<!-- Header section end -->