<!-- Footer section -->
<section class="footer-section img" style="background-color:rgba(0,0,0,0.9);">
	<div class="container">
		<div class="footer-logo text-center">
			<a href="index.html"><img src="./img/logo-light.png" alt=""></a>
		</div>
		<div class="row" > 
			<div class="col-lg-4 col-sm-6" >
				<div class="footer-widget about-widget" style="border-right: 1px solid white;padding: 20px">
					<div class="container">
						<div class="social-links">
							<h2>SOCIALS</h2>
							<a href="" class="instagram"><i class="fa fa-instagram"></i><span> instagram </span></a>
							<a href="" class="google-plus"><i class="fa fa-google-plus"></i><span> g+plus </span></a><br>
							<a href="" class="facebook"><i class="fa fa-facebook"></i><span> facebook </span></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6">
				<div class="footer-widget about-widget" style="border-right: 1px solid white;padding: 20px">
					<h2>ABOUT</h2>
					<p>
						AANCHAL FASHION DESIGN AND BOUTIQUE<br>
						The most recommended brand for Indian ethnic wear and designer wedding & bridal wear in
						Gujarat, Asopalav is a 20+ years old market leader, synonymous with great quality fashion,
						inimitable style and unique craftsmanship.
					</p>
					<!-- <img src="img/cards.png" alt=""> -->
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="footer-widget about-widget">
					<h2>CONTACT US</h2>
					<label>aanchalfashiondesign@gmail.com</label>
					<label>11:00 to 7:00</label>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- Footer section end -->