<br>
<br>
<br>
<section class="product-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-pic-zoom">
          <img class="product-big-img" src="http://localhost:3000/images/Product_img/{{Product_img}}" alt="">
        </div>
      </div>
      <div class="col-lg-6 product-details">
        <h2 class="p-title">{{Product_name}}</h2>
        <h4>{{Product_desc}}</h4>
        <br>
        <h3 class="p-price">{{Product_price}}</h3>
        <h4 class="p-stock">Available: <span>In Stock</span></h4>
        <div class="fw-size-choose">
          <p>Size</p>
          <div class="sc-item" *ngFor="let item of Sizes">
            <input type="radio" name="sc" id="{{item}}-size" value="{{item}}" (click)="onclick_Size(item)">
            <label for="{{item}}-size">{{item | uppercase}}</label>
          </div>
        </div>
        <div class="fw-color-choose">
          <p>Color</p>
          <div class="cs-item" *ngFor="let item of Colors">
            <input type="radio" name="sc" id="{{item}}-color" (click)="onclick_Color(item)">
            <label class="cs-{{item}}" for="{{item}}-color">
            </label>
          </div>
        </div>
        <div class="quantity">
          <p>Quantity</p>
          <div class="pro-qty"><input type="number" required min="1" [attr.max]="maxqty" [(ngModel)]="qty"></div>
        </div>
        <div *ngIf=!flag>
          <a href="onsignup()" class="site-btn">ADD TO CART</a>
        </div>
        <div *ngIf=flag>  
          <a (click)="onclickAddCart()" class="site-btn">ADD TO CART</a>
        </div>

        <div class="social-sharing">
          <a href="https://www.justdial.com/Ahmedabad/Aanchal-Creation-Near-Sunset-Row-House-Opposite-Navneet-House-Gurukul-Road/079PK000584_BZDET"><i class="fa fa-google-plus"></i></a>
          <a href="https://www.facebook.com/aanchalgurukul"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/aanchal_gurukul/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product section end -->


