<!-- Page info -->
<br>
<br>
<br>
<div class="page-top-info">
		<div class="container">
			<h4>Contact</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">Contact</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->
	
	
	<!-- Contact section -->
	<section class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 contact-info">
					<h3>Get in touch</h3>
			<p>
			  AANCHAL FASHION DESIGN AND BOUTIQUE<br>
			  The most recommended brand for Indian ethnic wear and designer wedding & bridal wear in
			  Gujarat, Asopalav is a 20+ years old market leader, synonymous with great quality fashion,
			  inimitable style and unique craftsmanship.
			</p>				<div class="contact-social">
					</div>
				</div>
			</div>
		</div>
	
		<div class="map" #gmap>
	
		<iframe width="600" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ5-zwc6WEXjkRIwjXLUfrWjQ&key=AIzaSyBNgU0rRxQxbwxJLZTUcQLQaHmxv5gytY4" allowfullscreen></iframe>
	</div>
		<!-- <div ><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe></div> -->
	</section>
	<!-- Contact section end -->
	
	<br>
	<br>
	
