<section class="filter-wrapper">
    <div class="keyword-wrapper">
   <input type="text"  id="keyword" (keyup)="searchfilter($event.target.value)" placeholder="Search for artists..." autofocus/>
     </div>
   <ul class="filter-select">
      <li *ngFor="let result of Prod_list" class="filter-select-list"><img src="http://localhost:3000/images/Product_img/{{Product_img}}" alt="" width="50" height="50"><p class="artist-name">
          {{result.Product_name}}</p>
      <span class="tags" *ngFor="let gen of  result?.gen | slice:0:6">{{gen.Product_name}}</span>
   </ul>
   </section>
